.activityCard {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}
.activityContent {
  width: 100%;
}
.adminButtons {
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
.activityImage {
  height: 100px;
  width: 200px;
  object-fit: cover;
  margin-right: 2rem;
  border-radius: 8px;
}
.activityInfo {
  margin-left: 0.5rem;
}
.activityDateLocation {
  display: flex;
}
.activityLocation {
  margin-left: 2rem;
  color: var(--clr-light-blue);
}

@media (max-width: 600px) {
  .activityImage {
    width: 150px;
    height: 150px;
    margin-right: 0;
  }
  .activityDateLocation {
    display: flex;
    justify-content: space-between;
  }
  .adminButtons {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
  }
}
