.loaderPrompt {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}
.loaderPrompt p {
  text-align: center;
}
.loader {
  margin: auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid var(--clr-dark-blue);
  border-right: 16px solid var(--clr-lightest-blue);
  border-bottom: 16px solid var(--clr-orange);
  border-left: 16px solid var(--clr-lightest-orange);
  width: 100px;
  height: 100px;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
