.associationList {
  list-style-type: none;
}
.associationList li {
  min-height: 2rem;
  display: grid;
  align-items: center;
  padding: 0 1rem;
}

.associationList li:nth-child(odd) {
  background-color: rgba(128, 128, 128, 0.2);
}
.associationList li div:last-child {
  justify-self: center;
}
