body.active-modal {
  overflow-y: hidden;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 101;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: var(--clr-light);
  padding: 2rem;
  max-width: 700px;
  min-width: 340px;
  z-index: 102;
  max-height: calc(100vh - 4rem);
  overflow-y: auto;
  border-radius: 8px;
}

.close-modal {
  position: absolute;
  top: 2rem;
  right: 2rem;
  /*padding: 5px 7px;*/
}


/*medium screens*/
@media (min-width: 768px) {
  .modal-content{
    min-width: 500px;
  }
}
