footer {
  background-color: var(--clr-dark-gray);
}
.footerContainer {
  width: 100%;
  padding: 2.6rem 10%;
}
.navLogo {
  display: flex;
  justify-content: center;
  padding-bottom: 2.6rem;
}
.socialIcons {
  display: flex;
  justify-content: center;
}
.socialIcons a {
  padding: 0.6rem;
  background-color: var(--clr-light);
  margin: 0.6rem;
  border-radius: 50%;
}
.socialIcons a i {
  font-size: 2rem;
  color: var(--clr-dark);
  opacity: 0.9;
}
.socialIcons a:hover {
  background-color: var(--clr-dark-gray);
  transition: 0.5s;
}
.socialIcons a:hover i {
  color: var(--clr-light);
  transition: 0.5s;
}
.footerNav {
  margin: 1.3rem 0 0 0;
}
.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a {
  color: var(--clr-light);
  margin: 0 1.25rem;
  font-size: 1.15rem;
  opacity: 0.7;
  transition: 0.5s;
}
.footerNav ul li a:hover {
  opacity: 1;
}

.footerCopyright {
  background-color: var(--clr-dark);
  padding: 1.3rem;
  text-align: center;
}
.footerCopyright p {
  color: var(--clr-light);
}
.ownerName {
  opacity: 0.7;
  letter-spacing: 0.7px;
  font-weight: 500;
}

@media (max-width: 950px) {
  .icons {
    display: inline-flex;
  }
}
@media (max-width: 700px) {
  .footerNav ul {
    flex-direction: column;
  }
  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}
