/*CSS styles for pages; if style is not here, it's a general style in 
index.css or it's in the component style module file*/

/*Volunteers page*/
.volunteer-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 2rem 0;
}

/*Associations Page*/
.table-title {
  margin-top: 2rem;
}

/*404 page*/
.page-404 {
  width: 100%;
  display: flex;
  background-image: url("./assets/volunteering2.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-404 {
  width: 50%;
  margin: auto;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.8);
  font-size: 1.15rem;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-404 button {
  background-color: var(--clr-dark-blue);
  color: var(--clr-light);
}

/*media queries*/
@media (min-width: 1045px) {
  .volunteers-layout {
    display: flex;
  }
  .volunteer-list {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .volunteer-list {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }
}
