/*CSS styles for pages; if style is not here, it' a general style in 
index.css or it's in the component style file*/

/*Homepage*/
.banner-image {
  width: 90%;
  display: block;
  margin: auto;
}
.section {
  display: flex;
  padding: 2rem;
  margin: 4rem 0;
}
.homepage-image {
  border-radius: 8px;
  width: 40vw;
  object-fit: cover;
  margin-left: auto;
}
.homepage-image-left {
  border-radius: 8px;
  width: 40vw;
  object-fit: cover;
  margin-right: auto;
}
.section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 2rem;
}
.section .righthand-text {
  padding-right: 0;
  padding-left: 2rem;
}
.section p {
  padding: 2rem 0;
}
.section a {
  font-size: 1.15rem;
  font-weight: 500;
}
.section a i {
  font-size: 1.5rem;
  vertical-align: text-bottom;
}
.section .social-icons {
  flex-direction: row;
  margin-right: 2rem;
}
.section .social-icons a i {
  font-size: 2rem;
}
.parallax-image {
  width: 100%;
  display: flex;
  background-image: url("./assets/volunteering2.jpg");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-image div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: auto;
  padding: 2rem;
  background: var(--clr-light);
  font-size: 1.15rem;
  border-radius: 8px;
}
.parallax-image div p {
  margin-bottom: 2rem;
}
.parallax-image button {
  max-width: 500px;
  width: 100%;
}
.parallax-image a {
  font-size: 1.15rem;
  font-weight: 500;
}
.parallax-image a i {
  font-size: 1.5rem;
  vertical-align: text-bottom;
}

/*Activities page*/
.activity-card {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}
.activity-image {
  height: 100px;
  width: 200px;
  object-fit: cover;
  margin-right: 2rem;
  border-radius: 8px;
}
.activity-card .admin-delete {
  margin-left: auto;
}
.activity-card .admin-buttons {
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

/*Volunteers page*/
.volunteer-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 2rem 0;
}
.volunteer-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 1rem 0;
}
/*.volunteer-card:nth-child(3n + 0) {
  justify-self: flex-end;
}
.volunteer-card:nth-child(3n-2) {
  justify-self: flex-start;
}*/
.volunteer-image {
  height: 130px;
  width: 130px;
  object-fit: cover;
  border-radius: 50%;
}
.volunteer-card .admin-buttons {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
.details-form .volunteer-display {
  display: flex;
  align-items: center;
}
.details-form .volunteer-display button {
  margin-left: auto;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  padding: 0.2em;
}

/*Associations Page*/
.table-title {
  margin-top: 2rem;
}
.association-list {
  list-style-type: none;
}
.association-list li {
  min-height: 2rem;
  display: grid;
  align-items: center;
  padding: 0 1rem;
}
.association-list-nonedit {
  grid-template-columns: 2fr 2fr 2fr 1fr;
}
.association-list-edit {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
}
.association-list li:nth-child(odd) {
  background-color: rgba(128, 128, 128, 0.2);
}
.association-list li div:last-child {
  justify-self: center;
}
.association-list-nonedit button {
  padding: 0.2em;
}
.association-list-nonedit .admin-buttons {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

/*404 page*/
.page-404 {
  width: 100%;
  display: flex;

  background-image: url("./assets/volunteering2.jpg");
  height: 100vh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-404 {
  width: 50%;
  margin: auto;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.8);
  font-size: 1.15rem;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-404 button {
  background-color: var(--clr-dark-blue);
  color: var(--clr-light);
}

/*media queries*/
@media (min-width: 1045px) {
  .banner-image {
    width: 80%;
  }
  .section {
    padding: 2rem 0;
    margin: 4rem 10%;
  }

  .volunteers-layout {
    display: flex;
  }
  .volunteer-list {
    width: 100%;
  }
}

@media (max-width: 950px) {
  .icons {
    display: inline-flex;
  }
}

@media (max-width: 600px) {
  .banner-image {
    width: 100%;
  }
  .section div {
    padding-right: 0;
  }
  .volunteer-list {
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
  }
  .volunteer-card:nth-child(3n + 0) {
    justify-self: center;
  }
  .volunteer-card:nth-child(3n-2) {
    justify-self: center;
  }
  .activity-image {
    width: 150px;
    margin-right: 0;
  }
  .section {
    flex-direction: column;
  }
  .section h1 {
    margin-top: 2rem;
  }
  .section p {
    padding-right: 0;
  }
  .section div {
    padding-left: 0;
  }
  .section .righthand-text {
    padding-left: 0;
  }
  .homepage-image,
  .homepage-image-left {
    order: -1;
    width: 100%;
    margin-left: 0;
  }

  .parallax-image div {
    width: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
