:root {
  /*Roboto condensed and slab*/
  font-family: "Roboto", sans-serif, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;

  line-height: 1.5;
  font-weight: 400;
  /*
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*color palette*/
  --clr-dark-blue: #22368b;
  --clr-light-blue: #5866a7;
  --clr-lightest-blue: #a6b0d7;
  --clr-orange: #ff471f;
  --clr-light-orange: #ff7152;
  --clr-lightest-orange: #d6894e;
  --clr-light: #ffffff;
  --clr-dark: #000000;
  --clr-dark-gray: #111;
  --clr-gray: #888;
  --clr-light-gray: hsl(0, 0%, 65%);
  --clr-green: #1add27;
  --clr-green-transparent: #1add277c;
  --clr-orange-transparent: #ff481f7a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: inherit;
}
#sort {
  display: block;
  width: 200px;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
}
select {
  display: block;
  width: 200px;
  height: fit-content;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.25s, box-shadow 0.25s;
}
input[type="text"],
input[type="date"],
input[type="file"],
input[type="email"],
textarea {
  display: block;

  height: fit-content;
  padding: 0.5rem;
  font-size: 1rem;
  resize: none;

  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  outline: none;
  transition: border-color 0.25s, box-shadow 0.25s;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="date"]:focus,
textarea:focus,
select:focus {
  border-color: var(--clr-lightest-orange);
  box-shadow: 0 0 5px var(--clr-lightest-orange);
}
.page-container {
  margin: 2rem 10%;
  min-height: 50vh;
}
.page-container h2 {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
hr {
  margin: 0.5rem 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s, box-shadow 0.25s;
}
button:hover {
  border-color: var(--clr-light-blue);
  box-shadow: 0 0 5px var(--clr-dark-blue);
}
.close-button:hover {
  color: var(--clr-light);
  background-color: var(--clr-lightest-blue);
  border-color: var(--clr-lightest-blue);
  box-shadow: 0 0 5px var(--clr-lightest-blue);
}
.edit-button {
  color: var(--clr-dark-blue);
}
.edit-button:hover {
  color: var(--clr-light);
  background-color: var(--clr-dark-blue);
  border-color: var(--clr-light-blue);
  box-shadow: 0 0 5px var(--clr-dark-blue);
}
.delete-button {
  color: var(--clr-orange);
}
.delete-button:hover {
  color: var(--clr-light);
  background-color: var(--clr-orange);
  border-color: var(--clr-orange-transparent);
  box-shadow: 0 0 5px var(--clr-orange);
}
.approve-button {
  color: var(--clr-green);
}
.approve-button:hover {
  color: var(--clr-light);
  background-color: var(--clr-green);
  border-color: var(--clr-green-transparent);
  box-shadow: 0 0 5px var(--clr-green);
}
.save-button {
  background-color: var(--clr-green-transparent);
}
.save-button:hover {
  color: var(--clr-light);
  background-color: var(--clr-green);
  border-color: var(--clr-green-transparent);
  box-shadow: 0 0 5px var(--clr-green);
}
.discard-button {
  background-color: var(--clr-orange-transparent);
}
.discard-button:hover {
  color: var(--clr-light);
  background-color: var(--clr-orange);
  border-color: var(--clr-orange);
  box-shadow: 0 0 5px var(--clr-orange-transparent);
}

.details-form {
  display: flex;
  flex-direction: column;
}

.details-form img,
h3 {
  align-self: center;
}
.details-form h3 {
  margin-bottom: 1rem;
}
.user-message-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
}
/* width */
::-webkit-scrollbar {
  width: 16px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  border-radius: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-light-gray);
  border-radius: 8px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-lightest-blue);
}

@media (max-width: 1070px) {
  .page-container {
    margin: 2rem 5%;
  }
}

/*xs screens*/
/*@media (min-width: 475px) {}*/

/*small screens*/
/*@media (min-width: 640px) {}*/

/*medium screens*/
/*@media (min-width: 768px) {}*/

/*large screens*/
/*@media (min-width: 1024px) {}*/

/*xl screens*/
/*@media (min-width: 1280px) {}*/

/*xxl screens*/
/*@media (min-width: 1536px) {}*/
