.form {
  display: flex;
  flex-direction: column;
}

.form label {
  margin-top: 1rem;
}
.form button {
  margin-top: 1rem;
}
.form input[type="radio"] {
  margin-left: 1rem;
}

.errorFormMessage {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}
input:invalid[data-focused="true"] + span {
  display: block;
}
textarea:invalid[data-focused="true"] + span {
  display: block;
}
input:invalid[data-focused="true"] {
  border: 1px solid red;
}
textarea:invalid[data-focused="true"] {
  border: 1px solid red;
}

.activity-container {
  display: flex;
}

.activity-checkboxes {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 1rem;
  margin-left: 1rem;
}
.activity-checkboxes label {
  margin-top: 0;
}
.activity-container h4 {
  margin-top: 1rem;
}
